<div class="landing">
  <div class="landing__content">
    <h3 class="landing__header"> Beautiful Search for your favourite repositories </h3>
    <p class="landing__description">Real time github repositories search powered by phoenix liveview.</p>
    <%= live_patch to: Routes.repository_path(@socket, :index), class: "landing__cta-button" do %>
      Give it a spin!
    <% end %>
  </div>
</div>
