@import "./partials/flex_center";
@import "./partials/screens";

@mixin link() {
  text-decoration: none;
  color: #4a5568;
  transition: all 0.5s ease-in-out;

  &:hover {
    transform: scale(1.05);
    color: #5a67d8;
  }
}

.footer {
  @include flex_center($direction: column, $justify: space-between);
  padding: 0.5em;
  border-top: thin solid #edf2f7;

  &__site-name {
    text-decoration: none;
    font-size: 2rem;
    font-family: "Lobster", cursive;
    color: #4a5568;
  }

  &__made-with {
    color: #4a5568;
    margin: 1em 0em;

    &__link {
      @include link();
      text-decoration: underline;
      text-decoration-style: wavy;
      margin: 0em 0.5em;
    }
  }

  &__social {
    @include flex_center();
    &__link {
      @include flex_center($direction: column);
      margin: 0em 0.5em;
      @include link();

      &__img {
        opacity: 0.8;
        width: 2em;
      }
    }
  }
}

@include for-tablet-portrait-up() {
  .footer {
    @include flex_center($justify: space-between);

    &__made-with {
      margin: 0em 1em;
    }
  }
}
